aiofiles==0.3.0
appdirs==1.4.0
blessings==1.6
bpython==0.16
curtsies==0.2.11
future==0.16.0
greenlet==0.4.12
httptools==0.0.9
oauthlib==2.0.1
packaging==16.8
Pygments==2.2.0
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.7.0
Sanic==0.3.0
six==1.10.0
tweepy==3.5.0
ujson==1.35
uvloop==0.7.2
wcwidth==0.1.7
